* {
  box-sizing: border-box;
}

/****** input area ******/
/* default */
.mars-form input[type="text"],
.mars-form input[type="password"],
.mars-form input[type="email"],
.mars-form input[type="url"],
.mars-form input[type="date"],
.mars-form input[type="month"],
.mars-form input[type="time"],
.mars-form input[type="datetime"],
.mars-form input[type="datetime-local"],
.mars-form input[type="week"],
.mars-form input[type="number"],
.mars-form input[type="search"],
.mars-form input[type="tel"],
.mars-form input[type="color"],
.mars-form input[type="button"],
.mars-form input,
.mars-form select,
.mars-form textarea {
    color: #000000;
    color: rgba(0, 0, 0, 0.80); /* IE 8 supported */
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    padding: 0.5em 1em;
    display: inline-block;
    border: 1px solid transparent;
    background: white;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 4px 0px;
    outline: 0;
}

.mars-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.mars-form input[type="color"] {
    padding: 0.2em 0.5em;
}

.mars-form input[type="text"]:focus,
.mars-form input[type="password"]:focus,
.mars-form input[type="email"]:focus,
.mars-form input[type="url"]:focus,
.mars-form input[type="date"]:focus,
.mars-form input[type="month"]:focus,
.mars-form input[type="time"]:focus,
.mars-form input[type="datetime"]:focus,
.mars-form input[type="datetime-local"]:focus,
.mars-form input[type="week"]:focus,
.mars-form input[type="number"]:focus,
.mars-form input[type="search"]:focus,
.mars-form input[type="tel"]:focus,
.mars-form input[type="color"]:focus,
.mars-form select:focus,
.mars-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

.mars-form input:not([type]):focus {
    outline: 0;
    border-color: rgb(223, 223, 223);
}

.mars-form input:focus:invalid,
.mars-form textarea:focus:invalid,
.mars-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d !important;
}

.mars-form input[type="file"]:focus:invalid:focus,
.mars-form input[type="radio"]:focus:invalid:focus,
.mars-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

.mars-form label {
    margin: 0.5em 0.75em 0.5em;
}

.mars-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.mars-form legend {
    display: block;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}

/* disabled */
.mars-form input[type="text"][disabled],
.mars-form input[type="password"][disabled],
.mars-form input[type="email"][disabled],
.mars-form input[type="url"][disabled],
.mars-form input[type="date"][disabled],
.mars-form input[type="month"][disabled],
.mars-form input[type="time"][disabled],
.mars-form input[type="datetime"][disabled],
.mars-form input[type="datetime-local"][disabled],
.mars-form input[type="week"][disabled],
.mars-form input[type="number"][disabled],
.mars-form input[type="search"][disabled],
.mars-form input[type="tel"][disabled],
.mars-form input[type="color"][disabled],
.mars-form input[type="checkbox"][disabled],
.mars-form input[disabled],
.mars-form select[disabled],
.mars-form textarea[disabled] {
    cursor: not-allowed;
    background-color:rgb(234,237,237);
    color: rgb(202,210,211);
}

.mars-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color:rgb(234,237,237);
    color: rgb(202,210,211);
}

.mars-form input[readonly], 
.mars-form select[readonly],
.mars-form textarea[readonly] {
    background-color: #eeeeee; /* menu hover bg color */
    color: #777777; /* menu text color */
    border-color: #cccccc;
}

/* not round */
.mars-form input[type="text"],
.mars-form input[type="password"],
.mars-form input[type="email"],
.mars-form input[type="url"],
.mars-form input[type="date"],
.mars-form input[type="month"],
.mars-form input[type="time"],
.mars-form input[type="datetime"],
.mars-form input[type="datetime-local"],
.mars-form input[type="week"],
.mars-form input[type="number"],
.mars-form input[type="search"],
.mars-form input[type="tel"],
.mars-form input[type="color"],
.mars-form input,
.mars-form select,
.mars-form textarea {   
    border-radius: 0px;
}

.mars-form input:not([type]) {
    border-radius: 0px;
}

/* little round */
.mars-form.is-little-rounded input[type="text"],
.mars-form.is-little-rounded input[type="password"],
.mars-form.is-little-rounded input[type="email"],
.mars-form.is-little-rounded input[type="url"],
.mars-form.is-little-rounded input[type="date"],
.mars-form.is-little-rounded input[type="month"],
.mars-form.is-little-rounded input[type="time"],
.mars-form.is-little-rounded input[type="datetime"],
.mars-form.is-little-rounded input[type="datetime-local"],
.mars-form.is-little-rounded input[type="week"],
.mars-form.is-little-rounded input[type="number"],
.mars-form.is-little-rounded input[type="search"],
.mars-form.is-little-rounded input[type="tel"],
.mars-form.is-little-rounded input[type="color"],
.mars-form.is-little-rounded input[type="readonly"],
.mars-form.is-little-rounded input,
.mars-form.is-little-rounded select,
.mars-form.is-little-rounded textarea {   
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.mars-form.is-little-rounded input:not([type]) {
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

/* round */
.mars-form.is-rounded input[type="text"],
.mars-form.is-rounded input[type="password"],
.mars-form.is-rounded input[type="email"],
.mars-form.is-rounded input[type="url"],
.mars-form.is-rounded input[type="date"],
.mars-form.is-rounded input[type="month"],
.mars-form.is-rounded input[type="time"],
.mars-form.is-rounded input[type="datetime"],
.mars-form.is-rounded input[type="datetime-local"],
.mars-form.is-rounded input[type="week"],
.mars-form.is-rounded input[type="number"],
.mars-form.is-rounded input[type="search"],
.mars-form.is-rounded input[type="tel"],
.mars-form.is-rounded input[type="color"],
.mars-form.is-rounded input[type="readonly"],
.mars-form.is-rounded input,
.mars-form.is-rounded select,
.mars-form.is-rounded textarea {   
    border-radius: 2em;
    padding: 0.5em 1em;
}

.mars-form.is-rounded input:not([type]) {
    border-radius: 2em;
    padding: 0.5em 1em;
}


/* color */
.mars-form.is-color-blue input[type="text"]:focus,
.mars-form.is-color-blue input[type="password"]:focus,
.mars-form.is-color-blue input[type="email"]:focus,
.mars-form.is-color-blue input[type="url"]:focus,
.mars-form.is-color-blue input[type="date"]:focus,
.mars-form.is-color-blue input[type="month"]:focus,
.mars-form.is-color-blue input[type="time"]:focus,
.mars-form.is-color-blue input[type="datetime"]:focus,
.mars-form.is-color-blue input[type="datetime-local"]:focus,
.mars-form.is-color-blue input[type="week"]:focus,
.mars-form.is-color-blue input[type="number"]:focus,
.mars-form.is-color-blue input[type="search"]:focus,
.mars-form.is-color-blue input[type="tel"]:focus,
.mars-form.is-color-blue input[type="color"]:focus,
.mars-form.is-color-blue select:focus,
.mars-form.is-color-blue textarea:focus {
    outline: 0;
    border-color: rgb(0,110,207);
}


.mars-form.is-color-green input[type="text"]:focus,
.mars-form.is-color-green input[type="password"]:focus,
.mars-form.is-color-green input[type="email"]:focus,
.mars-form.is-color-green input[type="url"]:focus,
.mars-form.is-color-green input[type="date"]:focus,
.mars-form.is-color-green input[type="month"]:focus,
.mars-form.is-color-green input[type="time"]:focus,
.mars-form.is-color-green input[type="datetime"]:focus,
.mars-form.is-color-green input[type="datetime-local"]:focus,
.mars-form.is-color-green input[type="week"]:focus,
.mars-form.is-color-green input[type="number"]:focus,
.mars-form.is-color-green input[type="search"]:focus,
.mars-form.is-color-green input[type="tel"]:focus,
.mars-form.is-color-green input[type="color"]:focus,
.mars-form.is-color-green select:focus,
.mars-form.is-color-green textarea:focus {
    outline: 0;
    border-color: rgb(80,200,120);
}

.mars-form.is-color-yellow input[type="text"]:focus,
.mars-form.is-color-yellow input[type="password"]:focus,
.mars-form.is-color-yellow input[type="email"]:focus,
.mars-form.is-color-yellow input[type="url"]:focus,
.mars-form.is-color-yellow input[type="date"]:focus,
.mars-form.is-color-yellow input[type="month"]:focus,
.mars-form.is-color-yellow input[type="time"]:focus,
.mars-form.is-color-yellow input[type="datetime"]:focus,
.mars-form.is-color-yellow input[type="datetime-local"]:focus,
.mars-form.is-color-yellow input[type="week"]:focus,
.mars-form.is-color-yellow input[type="number"]:focus,
.mars-form.is-color-yellow input[type="search"]:focus,
.mars-form.is-color-yellow input[type="tel"]:focus,
.mars-form.is-color-yellow input[type="color"]:focus,
.mars-form.is-color-yellow select:focus,
.mars-form.is-color-yellow textarea:focus {
    outline: 0;
    border-color: rgb(248,235,0);
}

.mars-form.is-color-pink input[type="text"]:focus,
.mars-form.is-color-pink input[type="password"]:focus,
.mars-form.is-color-pink input[type="email"]:focus,
.mars-form.is-color-pink input[type="url"]:focus,
.mars-form.is-color-pink input[type="date"]:focus,
.mars-form.is-color-pink input[type="month"]:focus,
.mars-form.is-color-pink input[type="time"]:focus,
.mars-form.is-color-pink input[type="datetime"]:focus,
.mars-form.is-color-pink input[type="datetime-local"]:focus,
.mars-form.is-color-pink input[type="week"]:focus,
.mars-form.is-color-pink input[type="number"]:focus,
.mars-form.is-color-pink input[type="search"]:focus,
.mars-form.is-color-pink input[type="tel"]:focus,
.mars-form.is-color-pink input[type="color"]:focus,
.mars-form.is-color-pink select:focus,
.mars-form.is-color-pink textarea:focus {
    outline: 0;
    border-color: rgb(223,150,193);
}

.mars-form.is-color-purple input[type="text"]:focus,
.mars-form.is-color-purple input[type="password"]:focus,
.mars-form.is-color-purple input[type="email"]:focus,
.mars-form.is-color-purple input[type="url"]:focus,
.mars-form.is-color-purple input[type="date"]:focus,
.mars-form.is-color-purple input[type="month"]:focus,
.mars-form.is-color-purple input[type="time"]:focus,
.mars-form.is-color-purple input[type="datetime"]:focus,
.mars-form.is-color-purple input[type="datetime-local"]:focus,
.mars-form.is-color-purple input[type="week"]:focus,
.mars-form.is-color-purple input[type="number"]:focus,
.mars-form.is-color-purple input[type="search"]:focus,
.mars-form.is-color-purple input[type="tel"]:focus,
.mars-form.is-color-purple input[type="color"]:focus,
.mars-form.is-color-purple select:focus,
.mars-form.is-color-purple textarea:focus {
    outline: 0;
    border-color: rgb(162,88,232);
}

/****** sizing area *****/

/* sizing */
/* input / textarea */
.mars-form .is-size-1 {
    width: 100%;
}

.mars-form .is-size-3-4 {
    width: 75%;
}

.mars-form .is-size-2-3 {
    width: 66%;
}

.mars-form .is-size-1-2 {
    width: 50%;
}

.mars-form .is-size-1-3 {
    width: 33%;
}

.mars-form .is-size-1-4 {
    width: 25%;
}

/* default */
.is-underline input {
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out 0s;
}

.is-underline input[type="text"]:focus,
.is-underline input[type="password"]:focus,
.is-underline input[type="email"]:focus,
.is-underline input[type="url"]:focus,
.is-underline input[type="date"]:focus,
.is-underline input[type="month"]:focus,
.is-underline input[type="time"]:focus,
.is-underline input[type="datetime"]:focus,
.is-underline input[type="datetime-local"]:focus,
.is-underline input[type="week"]:focus,
.is-underline input[type="number"]:focus,
.is-underline input[type="search"]:focus,
.is-underline input[type="tel"]:focus,
.is-underline input[type="color"]:focus,
.is-underline input[type="readonly"]:focus,
.is-underline input:focus,
.is-underline select:focus,
.is-underline textarea:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid #129FEA;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
} 


/* color size input */
.is-underline.is-color-blue input[type="text"]:focus,
.is-underline.is-color-blue input[type="password"]:focus,
.is-underline.is-color-blue input[type="email"]:focus,
.is-underline.is-color-blue input[type="url"]:focus,
.is-underline.is-color-blue input[type="date"]:focus,
.is-underline.is-color-blue input[type="month"]:focus,
.is-underline.is-color-blue input[type="time"]:focus,
.is-underline.is-color-blue input[type="datetime"]:focus,
.is-underline.is-color-blue input[type="datetime-local"]:focus,
.is-underline.is-color-blue input[type="week"]:focus,
.is-underline.is-color-blue input[type="number"]:focus,
.is-underline.is-color-blue input[type="search"]:focus,
.is-underline.is-color-blue input[type="tel"]:focus,
.is-underline.is-color-blue input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(0,110,207);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
} 

.is-underline.is-color-green input[type="text"]:focus,
.is-underline.is-color-green input[type="password"]:focus,
.is-underline.is-color-green input[type="email"]:focus,
.is-underline.is-color-green input[type="url"]:focus,
.is-underline.is-color-green input[type="date"]:focus,
.is-underline.is-color-green input[type="month"]:focus,
.is-underline.is-color-green input[type="time"]:focus,
.is-underline.is-color-green input[type="datetime"]:focus,
.is-underline.is-color-green input[type="datetime-local"]:focus,
.is-underline.is-color-green input[type="week"]:focus,
.is-underline.is-color-green input[type="number"]:focus,
.is-underline.is-color-green input[type="search"]:focus,
.is-underline.is-color-green input[type="tel"]:focus,
.is-underline.is-color-green input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(80,200,120);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.is-underline.is-color-yellow input[type="text"]:focus,
.is-underline.is-color-yellow input[type="password"]:focus,
.is-underline.is-color-yellow input[type="email"]:focus,
.is-underline.is-color-yellow input[type="url"]:focus,
.is-underline.is-color-yellow input[type="date"]:focus,
.is-underline.is-color-yellow input[type="month"]:focus,
.is-underline.is-color-yellow input[type="time"]:focus,
.is-underline.is-color-yellow input[type="datetime"]:focus,
.is-underline.is-color-yellow input[type="datetime-local"]:focus,
.is-underline.is-color-yellow input[type="week"]:focus,
.is-underline.is-color-yellow input[type="number"]:focus,
.is-underline.is-color-yellow input[type="search"]:focus,
.is-underline.is-color-yellow input[type="tel"]:focus,
.is-underline.is-color-yellow input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(248,235,0);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.is-underline.is-color-pink input[type="text"]:focus,
.is-underline.is-color-pink input[type="password"]:focus,
.is-underline.is-color-pink input[type="email"]:focus,
.is-underline.is-color-pink input[type="url"]:focus,
.is-underline.is-color-pink input[type="date"]:focus,
.is-underline.is-color-pink input[type="month"]:focus,
.is-underline.is-color-pink input[type="time"]:focus,
.is-underline.is-color-pink input[type="datetime"]:focus,
.is-underline.is-color-pink input[type="datetime-local"]:focus,
.is-underline.is-color-pink input[type="week"]:focus,
.is-underline.is-color-pink input[type="number"]:focus,
.is-underline.is-color-pink input[type="search"]:focus,
.is-underline.is-color-pink input[type="tel"]:focus,
.is-underline.is-color-pink input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid  rgb(223,150,193);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.is-underline.is-color-purple input[type="text"]:focus,
.is-underline.is-color-purple input[type="password"]:focus,
.is-underline.is-color-purple input[type="email"]:focus,
.is-underline.is-color-purple input[type="url"]:focus,
.is-underline.is-color-purple input[type="date"]:focus,
.is-underline.is-color-purple input[type="month"]:focus,
.is-underline.is-color-purple input[type="time"]:focus,
.is-underline.is-color-purple input[type="datetime"]:focus,
.is-underline.is-color-purple input[type="datetime-local"]:focus,
.is-underline.is-color-purple input[type="week"]:focus,
.is-underline.is-color-purple input[type="number"]:focus,
.is-underline.is-color-purple input[type="search"]:focus,
.is-underline.is-color-purple input[type="tel"]:focus,
.is-underline.is-color-purple input[type="color"]:focus {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 3px;
    border-width: 2px 0px;
    border-bottom: 2px solid rgb(162, 88, 232);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}


/****** checkbox area ******/
/* default */
.mars-form input[type="checkbox"] {
     margin: 3px 3px 3px 4px;
     padding: initial;         
}

.mars-form.is-checkbox input {
    border-width: 3px;
    border-style: solid;
}

.mars-form.is-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 20px;   
}

.mars-form.is-checkbox .checkbox-check-icon {
    position: absolute;
    display: block;
    top: 15%;
    left: 10px;
    color: #ffffff;
}

.checkbox-check-icon svg.checkbox-check {
    fill: #ffffff;
}

svg:not(:root) {
    overflow: hidden;
}

.mars-form .mars-checkbox {
    all: unset;
    width: 20px;
    height: 20px;
    display: block;
    background: none;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    border-color: rgb(223, 223, 223);
    cursor: pointer;
}

/* disabled attribute */
.mars-form.mars-checkbox input:disabled {    
    color: #949494;
    background-color:#eaeded;
    border-color: #bebebe;
    border-width: 3px;
    border-style: solid;
}

/* checkbox-label attribute */
.checkbox-label  {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;    
}

/* color attribute */
.mars-form.is-checkbox input:not(:disabled) {
    border-color: rgb(233, 233, 233);
}

.mars-form.is-checkbox input:not(:disabled):hover {
    border-color: #129FEA;
}

.mars-form.is-checkbox input:not(:disabled):checked {
    background-color: #129FEA;
    border-color: #129FEA; 
}

.mars-form.is-checkbox input:disabled  + .checkbox-check-icon svg {
    fill: rgb(204,204,204);
    cursor: not-allowed;
}
 
/* hover event */
.mars-form.is-checkbox.is-color-blue input:not(:disabled):hover {
    border-color: rgb(0,110,207);
}

.mars-form.is-checkbox.is-color-green input:not(:disabled):hover {
    border-color: rgb(80,200,120);
}

.mars-form.is-checkbox.is-color-yellow input:not(:disabled):hover {
    border-color: rgb(248,235,0);
}

.mars-form.is-checkbox.is-color-pink input:not(:disabled):hover {
    border-color: rgb(223,150,193);
}

.mars-form.is-checkbox.is-color-purple input:not(:disabled):hover {
    border-color: rgb(162,88,232);
}

/* checked event */
.mars-form.is-checkbox.is-color-blue input:checked {
    background-color: rgb(0,110,207);
    border-color: rgb(0,110,207);
}

.mars-form.is-checkbox.is-color-green input:checked {
    background-color: rgb(80,200,120);
    border-color: rgb(80,200,120); 
}

.mars-form.is-checkbox.is-color-pink input:checked {
    background-color: rgb(223,150,193);
    border-color: rgb(223,150,193);
}

.mars-form.is-checkbox.is-color-purple input:checked {
    border-color: rgb(162,88,232);
    background-color:rgb(162,88,232);
}


/****** radio area ******/
/* defualt */
.mars-form.is-radio input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    padding: initial;         
}

.mars-form.is-radio input {
    border-width: 3px;
    border-style: solid;
}

.mars-form.is-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 20px;
}

.mars-form .mars-radio {
    all: unset;
    width: 20px;
    height: 20px;
    display: block;
    background: none;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    border-color: rgb(229, 229, 229);
}

.mars-form.is-radio .radio-check-icon {
    position: absolute;
    display: block;
    top: 15%;
    left: 10px;
}

.mars-form.is-radio input:disabled  + .radio-check-icon svg {
    fill: rgb(204,204,204);
    cursor: not-allowed;
}

.mars-form.is-radio .radio-check-icon circle:not(svg) {
    transform-origin: 0px 0px;
}

/* disabled attribute */
.mars-form.is-radio input:disabled {    
    color: #949494;
    background-color:#eaeded;
    border-color: #bebebe;
    border-width: 3px;
    border-style: solid;
}

/* radio label attribute */
.radio-label {
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

/* color attribute */
.mars-form.is-radio input:not(:disabled) {
    border-color: rgb(233, 233, 233);
}

.mars-form.is-radio input:not(:disabled):hover {
    border-color: #129FEA;
}

.mars-form.is-radio input:not(:disabled):checked {
    border-color: #129FEA; 
}

.mars-form.is-radio .radio-check-icon svg {
    fill: #129FEA; 
}

/* hover event */
.mars-form.is-radio.is-color-blue input:not(:disabled):hover {
    border-color: rgb(0,110,207);
}

.mars-form.is-radio.is-color-green input:not(:disabled):hover {
    border-color: rgb(80,200,120);
}

.mars-form.is-radio.is-color-yellow input:not(:disabled):hover {
    border-color: rgb(248,235,0);
}

.mars-form.is-radio.is-color-pink input:not(:disabled):hover {
    border-color: rgb(223,150,193);
}

.mars-form.is-radio.is-color-purple input:not(:disabled):hover {
    border-color: rgb(162,88,232);
}

/* checked event */
.mars-form.is-radio.is-color-blue input:checked {
    border-color: rgb(0,110,207);
}

.mars-form.is-radio.is-color-green input:checked {
    border-color: rgb(80,200,120);
}

.mars-form.is-radio.is-color-yellow input:checked {
    border-color: rgb(248,235,0);
}

.mars-form.is-radio.is-color-pink input:checked {
    border-color: rgb(223,150,193);
}

.mars-form.is-radio.is-color-purple input:checked {
    border-color: rgb(162,88,232);
}

/* radio-check-icon color */
.mars-form.is-radio.is-color-blue .radio-check-icon svg {
    fill: rgb(0,110,207);
}

.mars-form.is-radio.is-color-green .radio-check-icon svg {
    fill: rgb(80,200,120);
}

.mars-form.is-radio.is-color-yellow .radio-check-icon svg {
    fill: rgb(248,235,0);
}

.mars-form.is-radio.is-color-pink .radio-check-icon svg {
    fill: rgb(223,150,193);
}

.mars-form.is-radio.is-color-purple .radio-check-icon svg {
    fill: rgb(162,88,232);
}


/* button area */
* {
    box-sizing: border-box;
}

.mars-button {
    font-family: inherit;
    font-size: .75rem;
    font-weight: 500;
    border: 2px solid transparent;/* IE6/7/8/9 + everything */
    border-width: 2px;
    border-image: initial;
    padding: 0.85em 1em;
    background-color: #129FEA;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    box-shadow:  0px 10px 25px  rgba(18, 159, 234, 0.5);   
    width: 5rem;
    color: white;
    text-align: center;
}


/* button color */
.mars-button.is-color-blue {
    outline: 0;
    background-color: rgb(0, 110, 207);
    border-color: rgb(0, 110, 207);
    box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-green {
    outline: 0;
    background-color: rgb(80, 200, 120);
    border-color: rgb(80, 200, 120);
    box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-yellow {
    outline: 0;
    background-color: rgb(248, 235, 0);
    border-color: rgb(248, 235, 0);
    box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-pink {
    outline: 0;
    background-color: rgb(223,150,193);
    border-color: rgb(223,150,193);
    box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-color-purple {
    outline: 0;
    background-color: rgb(162,88,232);
    border-color: rgb(162,88,232);
    box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.5);  /* offset-x | offset-y | blur-radius | spread-radius | color */ 
}

.mars-button.is-hovered,
.mars-button:not(.is-outlined):hover {
    opacity: 0.75;  
    cursor: pointer;
    border-color: transparent;
}

.mars-button.is-hovered,
.mars-button:hover {
    box-shadow: 0px 10px 25px rgba(18, 159, 234, 0.85);    
}

.mars-button.is-hovered.is-color-blue,
.mars-button.is-color-blue:hover {
    box-shadow: 0px 10px 25px rgba(0, 110, 207, 0.85);
}

.mars-button.is-hovered.is-color-green,
.mars-button.is-color-green:hover {
    box-shadow: 0px 10px 25px rgba(80, 200, 120, 0.85);
}

.mars-button.is-hovered.is-color-yellow,
.mars-button.is-color-yellow:hover {
    box-shadow: 0px 10px 25px rgba(248, 235, 0, 0.85);
}

.mars-button.is-hovered.is-color-pink,
.mars-button.is-color-pink:hover {
    box-shadow: 0px 10px 25px rgba(223, 150, 193, 0.85);
}

.mars-button.is-hovered.is-color-purple,
.mars-button.is-color-purple:hover {
    box-shadow: 0px 10px 25px rgba(162, 88, 232, 0.85);
}

.mars-button.is-focused,
.mars-button:focus {
    outline: 0;
    border: 2px solid rgba(18, 159, 234, 0.5);
}

.mars-button.is-pressed,
.mars-button:active {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.12) inset;  
} 

.mars-button[disabled],
.mars-button.is-disabled,
.mars-button.is-disabled:hover,
.mars-button.is-disabled:focus,
.mars-button.is-disabled:active {
    padding: calc(1em - 0.2px);
    border: none;
    background-image: none;
    /* TODO: csslint ignore 분석해보기 */
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 1;
    cursor: not-allowed;
    box-shadow: none;
    background-color:rgb(234,237,237);
    color: rgb(202,210,211);
    pointer-events: none;
}

/* loading button */
@-webkit-keyframes spinAround {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes spinAround {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


.mars-button.is-loading {
    cursor: default;
    color: transparent;
    padding-bottom: calc(1em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(1em - 1px);
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    height: 2.5em;
    font-size: 1rem;
    line-height: 2.5em;
    align-items: center;
    position: relative;
}  

.mars-button.is-loading:after {
    -webkit-animation: spinAround 500ms infinite linear;
    animation: spinAround 500ms infinite linear;  
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
}

.mars-button.is-loading:after {
    position: absolute;
    left: calc(50% - (1em / 2));
    top: calc(45% - (1em / 2));
    position: absolute !important;
}

.mars-button.is-gradient {
    padding: calc(1em - 0.2px);
    cursor: pointer;
    outline: 0;
    border: none;
}

.mars-button.is-gradient {
    background-image: linear-gradient(90deg,#1233ea,#129fea);   
    box-shadow:  0px 10px 25px  rgba(18, 159, 234, 0.65);  
}

.mars-button.is-gradient.is-color-blue {
    background-image: linear-gradient(90deg,#002a50,#006ecf);
    box-shadow:  0px 10px 25px  rgba(0, 110, 207, 0.65);   
}

.mars-button.is-gradient.is-color-green {
    background-image: linear-gradient(90deg,#319b54,#50c878);
    box-shadow:  0px 10px 25px  rgba(80, 200, 120, 0.65);   
}

.mars-button.is-gradient.is-color-yellow {
    background-image: linear-gradient(90deg,#aca300,#f8eb00);
    box-shadow:  0px 10px 25px  rgba(248, 235, 0, 0.65);   
}

.mars-button.is-gradient.is-color-pink {
    background-image: linear-gradient(90deg,#c74792,#df96c1);
    box-shadow:  0px 10px 25px  rgba(223, 150, 193, 0.65);   
}

.mars-button.is-gradient.is-color-purple {
    background-image: linear-gradient(90deg,#6217a9,#a258e8);
    box-shadow:  0px 10px 25px  rgba(162, 88, 232, 0.65);   
}


@-webkit-keyframes bgAnim {
    0% {
      background-position: 0% 50%;
    }
    
    50% {
      background-position: 100% 50%;
    }
}

@keyframes bgAnim {
    0% {
        background-position: 0% 50%;
    }
      
    50% {
        background-position: 100% 50%;
    }  
}

.mars-button.is-anim {
   animation: bgAnim 3s linear infinite;
   background-size: 400% 400% !important;
}

.mars-button.is-small {
    font-size: 0.75rem;
}

.mars-button.is-medium {
    font-size: 1.25rem;
}

.mars-button.is-normal {
    font-size: 1rem;
}

.mars-button.is-large {
    font-size: 1.5rem;
}

/* state color */
.mars-button.is-primary {
   background-color: #00B0FF;
   box-shadow:  0px 10px 25px  rgba(0, 176, 255, 0.5);   
}

.mars-button.is-success {
   background-color: #00B248;
   box-shadow:  0px 10px 25px  rgba(0, 178, 72, 0.5);   
}

.mars-button.is-warning {
    background-color: #FF9D3F;
    box-shadow:  0px 10px 25px  rgba(255, 157, 63, 0.5);
}

.mars-button.is-error {
    background-color: #FF5722;
    box-shadow:  0px 10px 25px  rgba(255, 87, 34, 0.5);
}

.mars-button.is-primary,
.mars-button.is-success,
.mars-button.is-warning,
.mars-button.is-error {
    outline: 0; 
    border-color: transparent;
}
 
.mars-button.is-icon-button {
    display: inline-flex;
    height: 2.5em;
    justify-content: space-between;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.78em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

/* icon button */
.mars-button.is-icon-button .icon,
.mars-button.is-icon-button .icon.is-small,
.mars-button.is-icon-button .icon.is-normal,
.mars-button.is-icon-button .icon.is-medium,
.mars-button.is-icon-button .icon.is-large {
    width: 1.5em;
    height: 1.5em;
}

/* rounded button */
.mars-button.is-rounded {
    border-radius: 2em;
}

/* outline button */
.mars-button.is-outlined {
    opacity: 1;
    outline: 2px solid #129FEA;
    border-width: 2px;
    background-color: transparent;  
    color: #129FEA;
    color: rgba(18, 159, 234, 1); /* IE 8 supported */
    border-radius: 0px;
    transition: all 0.2s ease-in-out 0s;
    border: none;
    box-shadow: none;
}


.mars-button.is-outlined.is-color-blue {
    outline: 2px solid rgb(0, 110, 207);
    color: #006ecf;
    color: rgba(0, 110, 207, 1); /* IE 8 supported */
}

.mars-button.is-outlined.is-color-green {
    outline: 2px solid rgb(80, 200, 120);
    color: #50c878;
    color: rgba(80, 200, 120, 1); /* IE 8 supported */
}

.mars-button.is-outlined.is-color-yellow {
    outline: 2px solid rgb(248, 235, 0);
    color: #f8eb00;
    color: rgba(248, 235, 0, 1); /* IE 8 supported */
}

.mars-button.is-outlined.is-color-pink {
    outline: 2px solid rgb(223, 150, 193);
    color: #df96c1;
    color: rgb(223, 150, 193, 1); /* IE 8 supported */
}

.mars-button.is-outlined.is-color-purple {
    outline: 2px solid rgb(162, 88, 232);
    color: #a258e8;
    color:  rgb(162, 88, 232, 1);/* IE 8 supported */
}

.mars-button.is-outlined.is-color-blue,
.mars-button.is-outlined.is-color-green,
.mars-button.is-outlined.is-color-yellow,
.mars-button.is-outlined.is-color-pink,
.mars-button.is-outlined.is-color-purple {
    border: none;
    box-shadow: none; 
}

